<%= form_for @instructor, :html => {:class => "ui form"} do |f| %>
  <% if @instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% @instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Instructor Name" %>
    <%= f.text_field :name, placeholder: "Adam Cannon" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :course %>
    <%= f.text_field :course, placeholder: "COMS 1004" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :range, "A-Range %" %>
    <%= f.number_field :range, placeholder: "32" %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit class: "ui button green" %>
    <%= link_to 'Back', instructors_path, class: "ui button" %>
  </div>
<% end %>
