<head>
  <script src="/jquery.tablesort.min.js"></script>
</head>

<div class="limited">
  <center>
    <% if params[:query].blank? %>
      <h1 style="font-family: 'HelveticaNeue-CondensedBold'; font-size: 60px">CU GRADES</h1>
    <% else %>
      <h1 style="font-family: 'HelveticaNeue-CondensedBold'; font-size: 30px">CU GRADES</h1>
    <% end %>
  </center>
  <br />
  <center>
    <form class="ui form" style="margin:">
      <div class="ui icon input" style="width: 100%; max-width: 600px;">
        <input class="prompt" type="text" placeholder="Try searching for <%= @search_suggestions[rand(0...@search_suggestions.count)] %>" name="query">
        <i class="search icon"></i>
      </div>
    </form>
  </center>
  <br />

  <% if !params[:query].blank? && params[:query].length < 3 %>
  <center>
    <div class="ui warning red message" style="width: 100%; max-width: 600px;">
      <i class="warning icon large"></i> Please enter 3 or more characters
    </div>
  </center>
  <% end %>

  <br /><br />

  <% if !params[:query].blank? && !@instructors.blank? %>
  <div class="ui info message">
    Showing all results  for <%= params[:query] %> (<%= @instructors.count %>)
  </div>
  <% end %>

  <% if !params[:query].blank? && @instructors.blank? %>
  <div class="ui info message">
    No grade ranges found for <%= params[:query] %> <i class="em em-neutral_face"></i>
  </div>
  <% end %>

  <% if !@min_range_instructor.blank? && !@max_range_instructor.blank? && !@instructors_avg.blank? %>
  <div class="ui three cards">
    <div class="card">
      <div class="content">
        <div class="header">
          Stats
        </div>
      </div>
      <div class="content">
        Average A-Range: <%= @instructors_avg %>%
      </div>
      <div class="content">
        Range: <%= @min_range_instructor.range %>% - <%= @max_range_instructor.range %>%
      </div>
    </div>

    <div class="card">
      <div class="content">
        <div class="header">
          Most As
          <span class="right floated">
            <% 4.times do %>
              <i class="tiny circle icon"></i>
            <% end %>
            <i class="tiny circle icon"></i>
          </span>
        </div>
      </div>
      <div class="content">
        <%= @max_range_instructor.name %> (<%= @max_range_instructor.range %>%)
      </div>
      <div class="content">
        <%= @max_range_instructor.course.upcase %>
      </div>
    </div>

    <div class="card">
      <div class="content">
        <div class="header">
          Least As
          <span class="right floated">
            <i class="tiny circle icon"></i>
            <% 4.times do %>
              <i class="tiny thin circle icon"></i>
            <% end %>
          </span>
        </div>
      </div>
      <div class="content">
        <%= @min_range_instructor.name %> (<%= @min_range_instructor.range %>%)
      </div>
      <div class="content">
        <%= @min_range_instructor.course.upcase %>
      </div>
    </div>
  </div>
  <% end %>

  <% if !@culpa_search_profs.blank? %>
    <div class="ui segment">
      <h2>Professors on CULPA
        <span style="font-size: 16px; font-weight: 300; color: #888"> &nbsp; matching <%= params[:query] %></span>
      </h2>
      <% @culpa_search_profs.each do |prof| %>
        <% if params[:prof_id].to_s == prof["id"].to_s %>
          <%= link_to request.parameters.merge({:prof_id => prof["id"]}), class: 'ui button tiny green', style: 'margin-bottom: 10px;' do %>
            <%= "#{prof["first_name"]} #{prof["last_name"]}" %>
          <% end %>
        <% else %>
          <%= link_to request.parameters.merge({:prof_id => prof["id"]}), class: 'ui button tiny', style: 'margin-bottom: 10px;' do %>
            <%= "#{prof["first_name"]} #{prof["last_name"]}" %>
          <% end %>
        <% end %>
      <% end %>
      <% if !@score_text.blank? && !params[:prof_id].blank? %>
        <h2 class="ui message <%= @score_color %>" style="margin-top: 5px; font-size: 18px;">
          <%= @score_text %>
          <a style="float:right" href="http://culpa.info/professors/<%= params[:prof_id] %>" class="ui button tiny blue">View Reviews on CULPA</a>
        </h2>
      <% elsif @score_text.blank? && !params[:prof_id].blank? %>
        <br />
        <p><em>Oops! It seems CULPA doesn't have sufficient data to determine review score.</em></p>
        <br />
      <% end %>
    </div>

  <% elsif @culpa_search_profs.blank? && !params[:query].blank? %>
    <div class="ui segment">
      <h2>Professors on CULPA
        <span style="font-size: 16px; font-weight: 300; color: #888"> &nbsp; matching <%= params[:query] %></span>
      </h2>
      <p>
        <em>No professors found on Culpa <i class="em em-disappointed"></i></em>
      </p>
    </div>
  <% end %>

  <% if !params[:query].blank? && !@instructors.blank? %>
    <table class="ui celled striped teal table">
      <thead>
        <tr>
          <th>Instructor </th>
          <th>Course </th>
          <th class="default-sort">A-range </th>
        </tr>
      </thead>

      <tbody>
        <% @instructors.each do |instructor| %>
          <tr>
            <td>
              <%= link_to request.parameters.merge({:query => instructor.name, :prof_id => ''}), style: 'text-decoration: none; background: none' do %>
                <%= instructor.name %>
              <% end %>
            </td>
            <td><%= instructor.course.upcase %></td>
            <td data-sort-value="<%= instructor.range.to_i %>"><%= instructor.range %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if !@instructors_chart.blank? %>
  <div class="ui segment inverted">
    <br />
    <center><h3>A-Range Distribution</h3></center>
    <br />
    <!-- <div class="ui blue message">for <strong><%= params[:query] %></strong></div> -->
    <%= column_chart [
        {name: "A Range", data: @instructors_chart},
      ], library: {backgroundColor: "none",
          vAxis: {
            title: "# of Instructors with this A-range",
            titleTextStyle: {color: '#666666'},
            gridlines: {color: '#333', count: 4}
          },
          hAxis: {
            title: "% of class that receives an A",
            titleTextStyle: {color: '#666666'},
          },
          series: [
            {visibleInLegend: false}
          ],
          pointSize: 0.0,
          lineWidth: 2.0,
          colors: ['#66CC00'],
          discrete: true
        }
    %>
    <br />
  </div>
  <% end %>
  <br /><br />



  <br />

  <% !if params[:query].blank? %>
    <p style="width: 100%; text-align: center; bottom: 12px; color: #555"><em>Initial data courtesy of <a href="http://gradesatcu.com" style="text-decoration: none;">gradesatcu.com</a></em></p>
  <% end %>

  <script>
    $.tablesort.defaults = {
      debug: $.tablesort.DEBUG,   // Outputs some basic debug info when true.
      asc: 'sorted ascending',    // CSS classes added to `<th>` elements on sort.
      desc: 'sorted descending'
    };
    $(document).ready(function() {
      $('.table').tablesort().data('tablesort').sort($("th.default-sort"));
    });
  </script>

</div>
